<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@User.Identity.Name</title>

    @Styles.Render("~/Content/Layout/css")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("n!Eto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Manage Account", "Index", "Manage", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>


                </ul>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form" }))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:Logoff()">Log off</a>

                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Designed and developed by degenXsoft</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script>
        function Logoff() {
            //localStorage["accessToken"] = null;
            document.getElementById('logoutForm').submit();
        }
    </script>
</body>
</html>
